<?xml version="1.0"?>
<robot name="puzzlebot">

  <link name="base_link"/>

  <joint name="chassis_joint" type="fixed">
    <parent link="base_link"/>
    <child link="chassis"/>
    <origin xyz="0 0 0.05" rpy="1.5708 0 1.5708"/>
  </joint>

  <link name="chassis">
    <inertial>
      <mass value="0.8"/>
      <origin rpy="0 0 0" xyz="-0.05 0 0" />
      <inertia ixx="0.004" ixy="0.0" ixz="0.0" iyy="0.004" iyz="0.0" izz="0.004"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://puzzlebot_description/models/puzzlebot/meshes/chassis.stl"/>
      </geometry>
      <material name="white">
        <color rgba="1.0 1.0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <box size="0.2 0.16 0.046"/>
      </geometry>
    </collision>
  </link>

  <link name="left_wheel">
    <inertial>
      <mass value="0.05"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.002" ixy="0" ixz="0" iyy="0.002" iyz="0" izz="0.002"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://puzzlebot_description/models/puzzlebot/meshes/wheel.stl"/>
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 -0.0025 0" />
      <geometry>
        <cylinder radius="0.05" length="0.005"/>
      </geometry>
    </collision>
  </link>

  <joint name="wheel_left_joint" type="revolute">
    <parent link="chassis"/>
    <child link="left_wheel"/>
    <origin xyz="0.09 0 0.05" rpy="-1.5708 0 1.5708"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.79769e+308" upper="1.79769e+308" effort="1" velocity="6"/>
  </joint>

  <link name="right_wheel">
    <inertial>
      <mass value="0.05"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.002" ixy="0" ixz="0" iyy="0.002" iyz="0" izz="0.002"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://puzzlebot_description/models/puzzlebot/meshes/wheel.stl"/>
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1.0"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 -0.0025 0" />
      <geometry>
        <cylinder radius="0.05" length="0.005"/>
      </geometry>
    </collision>
  </link>

  <joint name="wheel_right_joint" type="revolute">
    <parent link="chassis"/>
    <child link="right_wheel"/>
    <origin xyz="-0.09 0 0.05" rpy="0 1.5708 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-1.79769e+308" upper="1.79769e+308" effort="1" velocity="6"/>
  </joint>

  <link name="caster">
    <visual>
      <geometry><sphere radius="0.006"/></geometry>
    </visual>
    <collision>
      <geometry><sphere radius="0.006"/></sphere></geometry>
    </collision>
  </link>

  <joint name="caster_joint" type="fixed">
    <parent link="chassis"/>
    <child link="caster"/>
    <origin xyz="0 -0.044 -0.095" rpy="0 0 0"/>
  </joint>

</robot>